.stamp {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    transform: rotate(-20deg);
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bolder;
}