.stamp {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: rotate(-20deg);
    color: #155715;
    border-radius: 14%;
    padding: 4px;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bolder;
    border: 3px solid #155715;
    opacity: 70%;
}